* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
article {
  border: 3px solid #000;
  width: 900px;
  margin: 50px auto;
}

header {
  background-color: #f7f7f7;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 40px;
}
.price {
  font-weight: bold;
  font-size: 24px;
}
.shipping {
  color: #444;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 22px;
}

a:link {
  color: #000;
}
a:hover {
  text-decoration: none;
}
.product-details {
  margin: 1px 0px 18px 0px;
}

ul {
  list-style: square;
  margin-left: 20px;
}
ul li {
  margin-bottom: 10px;
}

button {
  color: #fff;
  background-color: #000;
  font-size: 18px;
  width: 100%;
  padding: 15px 0px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  color: #000;
  background-color: #fff;
}
header {
  position: relative;
}
header::after {
  content: "Sale";
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background-color: red;
  padding: 8px 14px;
  position: absolute;
  top: -20px;
  left: -30px;
  letter-spacing: 2px;
}
.option {
  margin-top: 10px;
}
.option div {
  display: inline-block;
}
.option div:first-child {
  margin-left: 2px;
  border: 1px solid black;
  background-color: black;
  color: black;
}
.option div:nth-child(2) {
  border: 1px solid blue;
  background-color: blue;
  color: blue;
}
.option div:nth-child(3) {
  border: 1px solid red;
  background-color: red;
  color: red;
}
.option div:nth-child(4) {
  border: 1px solid yellow;
  background-color: yellow;
  color: yellow;
}
.option div:nth-child(5) {
  border: 1px solid green;
  background-color: green;
  color: green;
}
.option div:last-child {
  border: 1px solid brown;
  background-color: brown;
  color: brown;
}
.price {
  float: left;
  margin-bottom: 20px;
}
.shipping {
  float: right;
  padding-top: 7px;
  margin-bottom: 0;
}
.clear {
  clear: both;
}

.shoe-img {
  width: 300px;
  float: left;
}
.product {
  margin-top: 15px;
  width: 280px;
  float: left;
}
.product-info {
  margin-top: 15px;
  width: 280px;
  float: right;
}
.option {
  margin-top: 20px;
}
