/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/***************************************** */
/* General and reuseable code */
.margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.container.text-center {
  text-align: center;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
}
.grid-center-v {
  align-items: center;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.primary-heading {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  line-height: 1.05;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #333;
}
.heading-secondary {
  letter-spacing: -0.5px;
  line-height: 1.05;
  font-weight: 700;
  margin-bottom: 8rem;
  color: #333;
  font-size: 4.4rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #cf711f;
  margin-bottom: 2.4rem;
}
.heading-tertairy {
  letter-spacing: -0.5px;
  line-height: 1.05;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #333;
  font-size: 3.2rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  transition: background-color 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #444;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fae5d3;
  outline: 3px solid #fff;
}

/*************************************** */
/* header section */
.header {
  display: flex;
  height: 9.6rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  padding: 1.2rem 4.8rem;
  padding-bottom: 3.2rem;
}
.main-nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}
.main-nav-ul li a:link,
.main-nav-ul li a:visited {
  font-size: 2rem;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.main-nav-ul li a:hover,
.main-nav-ul li a:active {
  color: #cf711f;
}
.main-nav-ul li a:link.nav-last:link,
.main-nav-ul li a:visited.nav-last:visited {
  font-size: 1.8rem;
  background-color: #e67e22;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  color: #fdf2e9;
  transition: all 0.3s;
}

.main-nav-ul li a:hover.nav-last:hover,
.main-nav-ul li a:active.nav-last:active {
  background-color: #cf711f;
}

.logo-img {
  height: 2.2rem;
}
/**************************************/
/* hero section */
.section-hero {
  background-color: #fdf2e9;
  padding-bottom: 9.6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
.margin-right-small {
  margin-right: 1.6rem !important;
}

.delivered-imgs-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 2px solid #fae5d3;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
  font-weight: 600;
}

.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}
/**************************************/
/* section-features */
.section-features {
  padding: 3.2rem 0 2.4rem 0;
}
.feature-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #888;
}
.logos {
  display: flex;
  height: 3.6rem;
  justify-content: space-around;
  filter: brightness(0);
  opacity: 50%;
}

/**************************************/
/* how to make section */
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  color: #d6d3d1;
  font-size: 8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.step-description {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img {
  width: 30%;
}

.step-image-box::after {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  background-color: #fdf2e9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.step-image-box::before {
  content: "";
  width: 40%;
  padding-bottom: 40%;
  background-color: #fae5d3;

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/**************************************/
/* meals section */
.section-meals {
  padding: 9.6rem 0;
}

.meals-recipe {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  transition: all 0.4s;
  overflow: hidden;
}
.meals-recipe:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meals-img {
  width: 100%;
  border-radius: 1.1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.meals-text {
  padding: 2rem 3.8rem;
}
.meals-type {
  display: inline-block;
  color: #333;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
}
.veg {
  background-color: #51cf66;
}
.vegan {
  background-color: #94d82d;
}
.paleo {
  background-color: #ffd43b;
}
.meals-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.4rem;
}
.meals-ul li {
  font-size: 1.8rem;
  display: flex;
  gap: 1.8rem;
}

.ionicon {
  stroke: #e67e22;
  width: 2.4rem;
  height: 2.4rem;
  fill: none;
  stroke-width: 3rem;
}
.inner-text span {
  font-size: 2rem;
  font-weight: 500;
}
.diet-list-heading {
  font-size: 3.2rem;
  font-size: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.diet-list-ul {
  list-style: none;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.diet-list-ul li {
  display: flex;
  gap: 1.8rem;
}

.see-all-recipe:link,
.see-all-recipe:visited {
  font-size: 1.8rem;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  transition: all 0.3s;
}
.see-all-recipe:hover,
.see-all-recipe:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
/**************************************/
/* TESTIMONIALS section */
/* *********************************** */
.section-testimonials {
  padding: 9.6rem 3.2rem 9.6rem 4.8rem;
  background-color: #fdf2e9;
}

.customer-img {
  width: 25%;
  border-radius: 50%;
}

.review-text {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
  margin-bottom: 1.6rem;
  margin-top: 1.2rem;
}
.review-name {
  font-size: 1.6rem;
  color: #777;
}
.gallery-img {
  width: 100%;
  transition: all 0.4s;
}
.gallery-img:hover {
  transform: scale(1.1);
}
.gap {
  gap: 2rem;
}
/**************************************/
/* price-feature */
.price-feature {
  padding: 9.6rem 0;
}

.starter {
  border-radius: 1rem;
  justify-self: end;
  width: 70%;
  border: 2px solid #fdf2e9;
}
.price-heading {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cf711f;
  text-align: center;
  margin: 4.8rem 0px 2.2rem 0px;
}
.price-value {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}
.price-value span {
  font-size: 5.2rem;
  padding-left: 1rem;
}
.price-description {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
  margin-bottom: 4.4rem;
}
.price-item-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-left: 4.8rem;
}
.price-item-ul li {
  display: flex;
  gap: 1.8rem;
}
.inner-text-price {
  font-size: 1.8rem;
}
.inner-text-price span {
  font-size: 2rem;
  font-weight: 500;
}

.btn-starter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem 0;
}
.complete {
  border-radius: 1rem;
  width: 70%;
  overflow: hidden;
  background-color: #fdf2e9;
  border: 2px solid #fdf2e9;
  position: relative;
}
.complete::after {
  content: "Best Value";
  text-transform: uppercase;
  padding: 1.2rem 5.8rem;
  color: #333;
  background-color: #ffd43b;
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  top: 3.7rem;
  right: -4.4rem;
  transform: rotate(47deg);
}
.price-tax-description {
  font-size: 1.6rem;
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
}
